.item:hover .paragrap .price {
  background-color: #f16262;
  transition: all 0.5s ease-in-out;
}
.hh:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.item:hover .icon {
  color: white;
  background-color: #f16262;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  transition: all 0.5s ease-in-out;
}
