@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7%;
  height: 80px;
  backdrop-filter: blur(20px);
  background-color: #292937;
  color: #fff;
}
option {
  background-color: none;
}
ul {
  display: flex;
  align-items: center;
}
ul a {
  margin: 0px 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 550;
}
ul a:hover {
  color: #ca575a;
  transition: 0.5s all;
  font-weight: 500;
}
.arrow {
  font-size: 15px;
}
.arrow:hover {
  margin-left: 10px;
  transition: 0.8s all;

}
button {
  width: 130px;
  padding: 13px 0;
  background: none;
  color: #fff;
  font-weight: 550;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 0, 241, 1) 0%,
    rgba(255, 0, 241, 1) 40%,
    rgba(201, 0, 255, 1) 57%,
    rgba(123, 0, 255, 1) 100%,
    rgba(226, 0, 255, 1) 100%
  );
  background-size: 20%;
  background-repeat: no-repeat;
  /* border-radius: 50%; */
  margin: 0px 20px;
}
button:hover {
  background-size: 73%;
  transition: 0.8s all;
}
