li a:hover {
  padding-left: 15px;
  transition: all 0.8s;
}
li a:hover::before {
  color: #0e0eee;
  position: absolute;
  margin-left: -18px;
  content: "//";
}

.input {
  border: 1px solid #555;
  width: 300px;
  height: 70px;
  padding-right: 80px;
}
.item {
  background: none;
  /* padding-left: 62px; */
}
.hostim {
  border: none;
}
